h1 {
    text-align: center;
    font-size: large;
}

body {
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 101, 121, 1) 32%);
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.My-Picture {
    border-radius: 8px;
    width: 300px;
    height: auto;
}

.First-Project {
    height: auto;
    width: 500px;
    color: black;
}

.portfolio {
    border-radius: 8px;
    width: 300px;
    height: auto;
    }

footer {
    text-align: center;
    border: 3px solid black;
}

a {
    text-decoration: none;
}

img:hover,
img:focus {
    width: 325px;
    height: 325px;
}

header {
    border: 3px solid black;

}

.container {
    position: relative
}

.p3-text {
    position: relative;
    bottom: 20px;
    color: black;
}

.p2-text {
    position: relative;
    bottom: 20px;
    color: black;
}