body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 101, 121, 1) 32%);
}

header {
    height: 50px;
    display: inline-block;
}

.navbar {
    display: inline-block;
    color: white;
}

#githubProfile {
    color: white;
}

#bio {
    color: white;
}


#myPicture {
    border-radius: 50%;
    height: auto;
    width: 200px;
    margin-top: 50px;
}

.mainContent {
    text-align: center;
}

#newshound {
    width: 800px;
    height: 300px;
}

#sportcast {
    width: 500px;
    height: 250px;
}

footer {
    text-align: center;
    border: 2px solid black;
}

.github {
    height: 50px;
    width: 100px;
}

.whiteText {
    color: white;
}



